
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/*
margin: 0;
box-sizing: border-box;
color:#666666;
*/




body{  
    font-family: 'Open Sans', sans-serif;
    
    background-color: #e6e8ed;
    
    box-sizing: border-box;
    
}

.container {
    width: 600px;
    height: 450px;
    background-color: #445a64;
    color: #ffffff;
    padding: 25px;
    
    border-radius: 10px;
    margin-top: 103px;
    margin-left: 450px;
}
.wrapper{
    display :flex;
}
.wrapper div{
    background-color: #e63946;
    padding: 20px;
    margin-top: 10px;
}
/*
input{
    width: 80%;
    padding: 8px;
    margin-top:10px ;
    border:none;
    font:20px;
}*/

input[type="text"] {
    border-radius: 18px;
    width: 200px;
    height: 39px;
    padding: 13px 0 7px 6px;
    margin: 1px 3px;
}

h2{
    margin-top: 40px;
}

.header{
    min-height: 120vh;
    width: 100%;
    background-image :linear-gradient(#445a64,#f17658);
    background-position: center;
    background-size: cover;
    position : relative;
}
.sub{
    display:none;
}
.nav-links ul li:hover .sub{

    display: block;
    position: absolute;
    background:#224d62;
    margin-top: 10px;
    margin-left: -10px;
}
nav {
    display: flex;
    padding: 1% 6%;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    
    
}


nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align:right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding :8px  12px;
    position: relative;
}
.nav-links ul li a{
    color:#e9e5e5;
    text-decoration: none;
    font-size: 25px ;
    
}
.nav-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background:#e63946 ;
    display:block;
    margin:auto;
    transition: 0.5s; 
}
.nav-links ul li:hover::after{
    width:100%;
}
.text-box{
    width: 90%;
    color: #ffff;
    position: absolute;
    top: 35%;
    left: 50%;
    transform : translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
    

}
.text-box p{
    margin: 100 px 0 40px;
    font-size: 20px;
    color: #ffffff;
}
.hero-btn{
    
    display:inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #fff;
    padding:10px 30px;
    font-size: 15px;
    background: transparent;
    position:relative;
    cursor:pointer;
    margin-top: 52px;
}
.hero-btn:hover{
    border:1px solid #e63946;
    background: #d14235;
    transition:2s;
}
nav .fa{
    display: none;
}
@media(max-width : 700px){
    .text-box h1{
        font-size: 15px; 
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background:#224d62;
        height:100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display:block;
        color:#fff;
        margin: 10px;
        font-size: 22px;
        cursor:pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar header1 header1 header1"
        "sidebar main main main";
    height:100vh;

}


/*-------------Header---------------*/
i {
    color: #ffffff;
}

.header1 {
    grid-area: header1;
    height: 52px;
    margin-top: -8px;
    background-image: linear-gradient(#d05757 ,#522828);
    display: flex;
    justify-content: space-between;
    padding: 28px 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}

.header-right {
    margin: 12rem;
}

.menu-icon{
    display: none;
}
/*-------------SideBar---------------*/
#sidebar{
    grid-area: sidebar;
    height: 101%;
    margin-left: -7px;
    margin-top: -8px;
    background-image: linear-gradient(#262626,#445a64);
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5;
}

/*-------------Main---------------*/
.main-container{
    grid-area: main;
    background-image :linear-gradient(#fefefe,beige);
    overflow-y: auto;
    padding:20px 20px;

}
.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.text-primary{
    color:#666666  ;
}
.text-blue{
    color: #246dec ;
}

.text-red{
    color:#cc3c43  ;
}

.text-green{
    color: #367952 ;
}

.text-orange{
    color: #f5b74f;
}

.font-weight-bold{
    font-weight:600;
}



